$color-white: #ffffff;
$color-black: #252a32;
$color-light: #f1f5f8;
$color-green: #DEDC00;
$color-darkgreen: #889525;

@font-face {
    font-family: "Candara";
    font-style: normal;
    font-weight: 500;
    src: url ("Candara.ttf") format ("ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: bold;
    font-weight: 500;
    src: url ("Roboto-Bold.ttf") format ("ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url ("Roboto-Regular.ttf") format ("ttf");
}

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
0 1px 3px rgba(0, 0, 0, 0.24);

@mixin largescreen {
    @media only screen and(min-width: 768px) {
        @content;
    }
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

ul {
    margin: 0;
}

svg {
    path {
        color: white !important;
        background-color: white !important;
    }
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: $color-black;
    background: #000;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
}

// Elements
.container {
    max-width: 80rem;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    margin: 0 auto;
}

.brand {
    display: flex;

    img {
        width: 150px;
        height: 50px;
    }
}

// Nav
header {
    background-image: url("django.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-size: 100%;
    margin: 0;
    padding: 0;

    h1 {
        position: absolute;
        top: 50%;
        color: white;
        margin-top: -136px;
        font-size: 13em;
        text-align: center;
        width: 100%;
        font-family: "Candara";
    }

    .navbar {
        position: fixed;
        top: 0;
        z-index: 21111111;
        width: 100%;
        height: auto;
        padding: 1rem 2rem;
        color: $color-black;
        background-color: black;

        @include largescreen {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }

        .navbrand {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .burger {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: none;
                outline: none;
                background: none;
                transition: all 0.35s ease;

                &-close {
                    display: none;
                }

                &.active {
                    .burger-open {
                        display: none;
                    }

                    .burger-close {
                        display: flex;

                        svg {
                            path {
                                color: white !important;
                                background-color: white !important;
                            }
                        }

                    }
                }

                @include largescreen {
                    display: none;
                }
            }
        }

        .menu {
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: all 0.5s ease;

            &-item {
                margin: 0.5rem 1rem;
            }

            &-link {
                font-family: inherit;
                font-size: 1.6rem;
                margin: 0.5rem 3rem;
                font-weight: 500;
                line-height: inherit;
                color: $color-black;
                text-transform: uppercase;
                text-rendering: optimizeLegibility;
                transition: all 0.35s ease;
                color: white;

                &:hover,
                &.active {
                    color: $color-green;
                }
            }

            &.active {
                width: 100%;
                height: 10rem;
            }

            @include largescreen {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: auto;

                &-item {
                    padding: 0;
                    margin: 2rem 0.5rem;
                }
            }
        }
    }
}

.wrapper {
    background-color: black;
    margin: 0;
    padding: 0 10% 30px 10%;
    width: 100%;
    max-width: 100%;

    h2 {
        color: $color-white;
        text-align: center;
        padding: 30px 0;
        font-size: 4em;
        font-family: "Roboto";

        &:after {
            content: "";
            display: block;
            margin: 0 auto;
            height: 8px;
            width: 250px;
            border-radius: 8px;
            background-color: $color-green;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
    }

    .line {
        display: flex;
        justify-content: space-between;

        .card {
            width: 40%;
            margin: 0 5%;

            .title {
                font-family: "Roboto";
                font-style: bold;
                color: $color-green;
                font-size: 2em;
                margin-top: 20px;
            }

            .para {
                color: white;
                font-family: "Roboto";
                font-size: 1.2em;
                text-align: justify;
            }
        }
    }

    .flex {
        padding-top: 30px;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 68%;

        .btn {
            width: 25%;
            border: 2px solid $color-green;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            height: 45px;

            p {
                line-height: 40px;
                padding: 0 5%;
                color: $color-white;
                align-items: center;
                text-align: center;
                font-size: 1.4em;
            }

            &:hover {
                background-color: $color-green;
                border: 2px solid white;

                p {
                    color: black;
                }
            }
        }
    }
}

footer {
    width: 100%;
    max-width: 100%;
    background-color: $color-white !important;
    padding: 1% 20%;
    display: flex;
    justify-content: space-between;

    .gauche {
        width: 40%;

        .line {
            display: flex;
            margin: 5% 0;

            i {
                font-size: 3em;
                margin-right: 20%;
                transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;

                &:hover {
                    color: $color-darkgreen;
                }
            }

            a {
                font-size: 1.5em;
                color: black;
            }
        }

    }

    .droite {
        width: 40%;

        .line {
            display: flex;
            margin: 5% 0;

            a {
                font-size: 1.5em;
                color: black;
                color: $color-darkgreen;
            }

            .last {
                width: 50%;
                background-color: black;
                border: 2px solid black;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                height: 70px;

                p {
                    line-height: 40px;
                    padding: 0 5%;
                    color: $color-green;
                    align-items: center;
                    text-align: center;
                    font-size: 1em;
                    line-height: 30px;
                }

                &:hover {
                    background-color: white;
                    border: 2px solid $color-green;

                    p {
                        color: black;
                    }
                }
            }
        }
    }
}


//Mobile


@media only screen and(max-width: 767px) {

    header {
        background-image: url("django.jpg");
        background-repeat: no-repeat;
        width: 100vw;
        height: 27%;
        max-width: 100%;
        margin: 0;
        padding: 0;

        h1 {
            position: absolute;
            top: 25%;
            left: 25%;
            color: white;
            font-size: 4em;
            text-align: center;
            width: 50%;
            font-family: "Candara";
        }
    }


    .wrapper {
        background-color: black;
        margin: 0;
        padding: 0 5% 30px 5%;
        width: 100%;
        max-width: 100%;

        h2 {
            color: $color-white;
            text-align: center;
            padding: 30px 0;
            font-size: 2em;
            font-family: "Roboto";

            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                height: 8px;
                width: 150px;
                border-radius: 8px;
                background-color: $color-green;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
            }
        }

        .line {
            display: flex;
            align-items: center;
            flex-direction: column;

            .card {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 5%;

               img {
                  height: 500px;
               }


                .title {
                    font-family: "Roboto";
                    font-style: bold;
                    color: $color-green;
                    font-size: 2em;
                    margin-top: 20px;
                    text-align: left;

                    span {
                        color: $color-green;
                        font-family: "Roboto";
                        font-style: italic;
                    }
                }

                .para {
                    color: white;
                    font-family: "Roboto";
                    font-size: 1.2em;
                    text-align: justify;
                }

               

            }
        }

        .flex {
            padding-top: 30px;
            display: flex;
            justify-content: space-evenly;
            margin: 0 auto;
            width: 100%;

            .btn {
                width: 40%;
                margin: 0 5%;
                border: 2px solid $color-green;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                height: 45px;

                p {
                    line-height: 40px;
                    padding: 0 5%;
                    color: $color-white;
                    align-items: center;
                    text-align: center;
                    font-size: 1em;
                }

                &:hover {
                    background-color: $color-green;
                    border: 2px solid white;

                    p {
                        color: black;
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        max-width: 100%;
        background-color: $color-white !important;
        padding: 5% 5%;
        display: flex;
        justify-content: space-between;

        .gauche {
            width: 40%;

            .line {
                display: flex;
                margin: 5% 0;

                i {
                    font-size: 2em;
                    margin-right: 20%;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;

                    &:hover {
                        color: $color-darkgreen;
                    }
                }

                a {
                    font-size: 1em;
                    color: black;
                }
            }

        }

        .droite {
            width: 40%;

            .line {
                display: flex;
                margin: 5% 0;

                a {
                    font-size: 1em;
                    color: black;
                    color: $color-darkgreen;
                }

                .last {
                    width: 75%;
                    background-color: black;
                    border: 2px solid black;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    height: 50px;

                    p {
                        line-height: 40px;
                        padding: 0 5%;
                        color: $color-green;
                        align-items: center;
                        text-align: center;
                        font-size: 0.8em;
                        line-height: 42.5px;
                    }

                    &:hover {
                        background-color: white;
                        border: 2px solid $color-green;

                        p {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}